.swiperContainer {
  width: 90vw;
  max-width: 558px;
  margin-top: 5rem;
}

@media (min-width: 878px) {
  .swiperContainer {
    max-width: 648px;
  }
}

@media (min-width: 1024px) {
  .swiperContainer {
    max-width: 698px;
  }
}
